<app-nav-bar></app-nav-bar>

<div class="container" style="margin-top: 140px;">
    <app-shop></app-shop>
</div>

<!-- Code For Listing all the Products -->
<!-- <div class="container" style="margin-top: 140px;">
    <h1>Welcome to {{title}}</h1>
    <ul>
        <li class="list-unstyled" *ngFor="let product of products">
            {{product.product_id}}
            {{product.product_name}}
            {{product.product_description}}
        </li>
    </ul>
</div> -->
<!-- Code For Listing all the Products -->
