<div class="container">
  <mat-card>
    <mat-toolbar color="accent">
      <div align="center" style="color:white;text-align: right;">  
        CRUD operation for Product (Calling WebAPI from Angular)  
      </div>
    </mat-toolbar>
    <br><br>  
    <mat-card-content>
      <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">  
      <table #appendTo style="margin-right: auto; margin-left: auto;">
        <tr>
          <td>
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Enter Product Name">
                <!-- <input formControlName="product_name" matTooltip="Enter Employee Name" matInput placeholder="n">   -->
                <input formControlName="product_name" kendoTextBox name="product_name" class="form-control" id="product_name">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <!-- <mat-error>  
              <span *ngIf="!employeeForm.get('product_name').value && employeeForm.get('product_name').touched"></span>  
            </mat-error> -->
          </td>
          <td>
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Enter Product Description">
                <!-- <input formControlName="product_description" matTooltip="Enter Employee Name" matInput placeholder="d">   -->
                <input formControlName="product_description" class="form-control" kendoTextBox name="product_description">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <mat-error>  
              <span *ngIf="!employeeForm.get('product_description').value && employeeForm.get('product_description').touched"></span>  
            </mat-error>
          </td>
          <td>
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Enter Product Price">
                <!-- <input formControlName="product_price" matTooltip="Enter product_price" matInput placeholder="p" type="number">   -->
                <input formControlName="product_price" class="form-control" kendoTextBox name="product_price" type="number">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <mat-error>  
              <span *ngIf="!employeeForm.get('product_price').value && employeeForm.get('product_price').touched"></span>  
            </mat-error>
          </td>
        </tr>
        <tr>
          <td class="tbl1">
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Picture URL" [optional]="true">
                <!-- <input formControlName="product_pictureurl" matTooltip="Enter Employee product_pictureUrl" matInput placeholder="u">   -->
                <input formControlName="product_pictureurl" class="form-control" kendoTextBox name="product_pictureurl">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <mat-error>  
              <span *ngIf="!employeeForm.get('product_pictureurl').value && employeeForm.get('product_pictureurl').touched"></span>  
            </mat-error>
          </td>
          <td class="tbl1">
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Enter Product Type">
                <!-- <input formControlName="product_type" matTooltip="Enter Employee product_type" matInput placeholder="t">   -->
                <input formControlName="product_type" class="form-control" kendoTextBox name="product_type">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <mat-error>  
              <span *ngIf="!employeeForm.get('product_type').value && employeeForm.get('product_type').touched"></span>  
            </mat-error>
          </td>
          <td class="tbl1">
            <!-- <mat-form-field class="demo-full-width"> -->
            <div class="form-group">
              <kendo-floatinglabel text="Enter Product Brand">
                <!-- <input formControlName="product_brand" matTooltip="Enter product_brand" matInput placeholder="b">   -->
                <input formControlName="product_brand" class="form-control" kendoTextBox name="product_brand">
              </kendo-floatinglabel>
              <!-- </mat-form-field>   -->
            </div>
            <mat-error>  
              <span *ngIf="!employeeForm.get('product_brand').value && employeeForm.get('product_brand').touched"></span>  
            </mat-error>
          </td>
        </tr>
        <tr>
          <td></td>
          <td  class="content-center">
            <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button" [disabled]="!employeeForm.valid">Submit</button>
            <!-- <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button">Submit</button> -->
            <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
          </td>
          <td>
            <!-- <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
              {{massage}}  
              </p> -->
          </td>
        </tr>
      </table>
      <br><br>  
      <table class="table" >
        <tr ngclass="btn-primary">
          <th class="tbl2">ID</th>
          <th class="tbl2">Name</th>
          <th class="tbl2">Desc</th>
          <th class="tbl2">Price</th>
          <th class="tbl2">Url</th>
          <th class="tbl2">Type</th>
          <th class="tbl2">Brand</th>
          <th class="tbl2">Edit</th>
          <th class="tbl2">Delete</th>
        </tr>
        <tr *ngFor="let employee of allEmployees">
          <td class="tbl2">{{employee.id}}</td>
          <td class="tbl2">{{employee.product_name}}</td>
          <td class="tbl2">{{employee.product_description}}</td>
          <td class="tbl2">{{employee.product_price}}</td>
          <td class="tbl2">{{employee.product_pictureurl}}</td>
          <td class="tbl2">{{employee.product_type}}</td>
          <td class="tbl2">{{employee.product_brand}}</td>
          <td class="tbl2">  
            <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadEmployeeToEdit(employee.id)">Edit</button>  
          </td>
          <td class="tbl2">  
            <!-- <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteEmployee(employee.id)">Delete</button> -->
            <button *ngIf="!opened" (click)="open()" type="button" class="btn btn-danger">Delete</button>
            <kendo-dialog *ngIf="opened" (close)="onDialogClose()">
              <kendo-dialog-titlebar>
                <div style="font-size: 18px; line-height: 1.3em;">
                  <span class="k-icon k-i-warning"></span> Delete Data
                </div>
              </kendo-dialog-titlebar>
              <p style="margin: 30px; text-align: center;">
                Are you sure that you want to delete this product?
              </p>
        
              <kendo-dialog-actions [layout]="actionsLayout">
                <button kendoButton (click)="onDialogClose()">Cancel</button>
                <button kendoButton (click)="onDeleteData(employee.id)" [primary]="true">Delete</button>
              </kendo-dialog-actions>
            </kendo-dialog>
          </td>
        </tr>
      </table>
      </form>  
    </mat-card-content>
  </mat-card>
</div>